<?xml version="1.0" encoding="UTF-8"?>
<properties>
	<variables>
		<variable name="automationHome" value="C:\Temp\rtcautomationtool" />
	</variables>
	<category name="LoginInfo">
		<property name="userId" value="" />
		<property name="password" value="" />
	</category>
	<category name="RTC">
	    <property name="UAT" value="https://xxxx:9104/jazz" />
		<property name="9092" value="https://xxxx:9092/jazz" /> 
		<property name="9094" value="https://xxxx:9094/jazz" /> 
		<property name="G3" value="https://xxxx/jazz" />
	</category>
</properties>
