<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.ibm.js.team.workitem.automation.examples/src/com/ibm/js/team/workitem/automation/examples/ModifyWorkItemAddCommentOperation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.js.team.workitem.automation.examples.ModifyWorkItemAddCommentOperation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;https://clm.example.com:9443/ccm&quot; &quot;ralph&quot; &quot;ralph&quot; &quot;124454&quot; &quot;Add a comment &quot; &quot;bla&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.ibm.js.team.workitem.automation.examples"/>
</launchConfiguration>